@model IEnumerable<GigHub.Core.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs voffset4">

    @foreach (var gig in Model)
    {

        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">@gig.Venue</span>
                <span class="genre">@gig.Genre.Name</span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Gigs", new { id = @gig.Id})">Edit</a>|
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">Cancel</a>
                </div>
            </div>
        </li>

    }

</ul>

@section scripts
{
    <script>
        //var headerToken = "Bearer 8eCd-NRc5Ff9_FIaUui-38xyRY3RdYLgkMjboF6-YbxHS6mOxu27_Bn2zXYhf1QT3dt3lHQ7r0K3kN3c3jL7DLNKvYvRftd4hFpw-m1pxySp_W_ebHYZhSfI_xRmryt3SjzCi9KfyO1s9YDTj2KRLfJsvxnijdWF7dd4PuTIbAbOpONSCIiVqTvhrGGYuwTzV3EXw0FVPEdBMswp5fEGTlcRGDHbWVOVuz1R5ZnwXXgWP7lxpF2ba9G9I3jTgxTfVzedANXg6jjeGc_UwCHwypU4j_DA7f3x_X4NVPBO1d23YG5UMuptG8npdlHLEv4_x0KNhFBWGCyyHrpOHgSoUJeRif2Ad_avgn_QNRm-Bug8WjZXb841YrKYiYP6ISG_KRf9jdnh2rPXI08eF0yZpa0lmQgeNcazHw2lGiKOY1LBL5dnjV_EqJE7YY5iRUhCZjYsL7BtbfPB0e3HOS0tPL_kLtCPhBWxkzAutOY2mfI";

         var headerToken = "Bearer XUYqbT888lumUXqLNGDXhVTspdTMhzbxW0ScqNfATAykDdY5VkrgS6m51tsayne7QuibhFsVDhNli1O3hJ7AneochR-yT8U79KUUIlbxfrJYpPcOf_BmIX4aCMBZo_VZsQ4bT-IY5JTInwfcaUbJg9YsS04nvaX4kIFgyNjInLJFwVZ8UhhKUXMUw0wCog2myYy7rPU3A4Fw_I2WeRWlAkbP3iHWKljuj9ElyzqzxXpaubQFtdKTeufSXNGr866qEOxVOyj8g-W08IFc8gEFIeLYLuS5KcVW_6vybZCNq6yYr2H-2HQqC_Oy9P99jMikdC241IFQwA6Se0SB_B0-S0uf-Fkvqh_ec3HOZ7L-bLGVpCXqmbG9JQ4EymBEI5mejgl0BulzcHVPsIG2ij8DJyGg10B-b3tKkQwu7D5R1v2K7EfSKBRazg7fcgQS_OQCCSw1YqKCFYcEI_0nUhup-1IGa8V1hUoN9O2ZmEaSds0";



        $(document).ready(function () {
            $('.js-cancel-gig').click(function (e) {

                var link = $(e.target);


                var dialog = bootbox.dialog({
                    title: 'Confirm',
                    message: "Are you sure you want to cancel this gig?</p>",
                    size: 'large',
                    buttons: {
                        cancel: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                //  console.log('Custom cancel clicked');
                            }
                        },
                        ok: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: '/api/gigs/' + link.attr('data-gig-id'),
                                    type: 'DELETE',
                                    contentType: 'application/json',
                                    headers: { 'Authorization': headerToken },
                                    success: function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove().closest();
                                        });
                                    },
                                    error: function (error) {
                                        alert('Failed: ' + JSON.stringify(error.Message));
                                    }
                                });
                            }
                        }
                    }
                });
            });
        });
    </script>
}

